-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "disciplines" (
    "id" INTEGER NOT NULL,
    "name" VARCHAR(100) NOT NULL,

    CONSTRAINT "disciplines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "items" (
    "id" INTEGER NOT NULL,
    "name" VARCHAR(100),

    CONSTRAINT "items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "recipe_disciplines" (
    "recipe_id" INTEGER NOT NULL,
    "discipline_id" INTEGER NOT NULL,

    CONSTRAINT "recipe_disciplines_pkey" PRIMARY KEY ("recipe_id","discipline_id")
);

-- CreateTable
CREATE TABLE "recipe_items" (
    "item_id" INTEGER NOT NULL,
    "recipe_id" INTEGER NOT NULL,
    "item_count" INTEGER NOT NULL,

    CONSTRAINT "recipe_items_pkey" PRIMARY KEY ("item_id","recipe_id")
);

-- CreateTable
CREATE TABLE "recipes" (
    "id" INTEGER NOT NULL,
    "output_item_id" INTEGER NOT NULL,
    "output_item_count" INTEGER NOT NULL,
    "min_rating" INTEGER,

    CONSTRAINT "recipes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "prices" (
    "item_id" INTEGER NOT NULL,
    "whitelisted" BOOLEAN,
    "buys_quantity" INTEGER,
    "buys_unit_price" INTEGER,
    "sells_quantity" INTEGER,
    "sells_unit_price" INTEGER,

    CONSTRAINT "prices_pkey" PRIMARY KEY ("item_id")
);

-- AddForeignKey
ALTER TABLE "recipe_disciplines" ADD CONSTRAINT "recipe_disciplines_disciplines_id_fkey" FOREIGN KEY ("discipline_id") REFERENCES "disciplines"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recipe_disciplines" ADD CONSTRAINT "recipe_disciplines_recipe_id_fkey" FOREIGN KEY ("recipe_id") REFERENCES "recipes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recipe_items" ADD CONSTRAINT "recipe_items_item_id_fkey" FOREIGN KEY ("item_id") REFERENCES "items"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recipe_items" ADD CONSTRAINT "recipe_items_recipe_id_fkey" FOREIGN KEY ("recipe_id") REFERENCES "recipes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recipes" ADD CONSTRAINT "recipes_output_item_id_fkey" FOREIGN KEY ("output_item_id") REFERENCES "items"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prices" ADD CONSTRAINT "prices_item_id_fkey" FOREIGN KEY ("item_id") REFERENCES "items"("id") ON DELETE CASCADE ON UPDATE CASCADE;

